# Dependencias.
env/

# Modelos.
api/models/**.h5

# Images cache.
api/images/**.jpg
api/images/**.jpeg
api/images/**.png

api/test/images/**.jpg
api/test/images/**.jpeg
api/test/images/**.png

# Editor de codigo.
.vscode/

# Cache.
api/__pycache__/
__pycache__/