# Dependencias.
testing/node_modules/
testing/package-lock.json
testing/pnpm-lock.yaml
env/

# Modelos.
api/models/**.h5

# Images cache.
api/images/**.jpg
api/images/**.jpeg
api/images/**.png

testing/images/**.jpg
testing/images/**.jpeg
testing/images/**.png

# Editor de codigo.
.vscode/

# Cache.
api/__pycache__/
__pycache__/