* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: brown;

  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: white;
  padding: 5rem 2.5rem;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 0.25rem;

  width: 80%;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.inputFile {
  background-color: aliceblue;
  border-radius: 5px;

  /* padding: 1rem 2rem; */
  padding-top: 1rem;
  padding-bottom: 1rem;

  width: 100%;
}

.button {
  background-color: #1e90ff;
  border: none;
  border-radius: 5px;

  padding: 1rem 2rem;

  width: 100%;

  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: white;

  cursor: pointer;
}
